<form action="/absen" class="form_absen" method="POST">
  <div class="form_group">
    <label for="nama">nama</label>
    <input type="text" id="nama" name="nama" required />
  </div>

  <div class="form_group">
    <label for="email">email</label>
    <input type="email" id="email" name="email" required />
  </div>

  <div class="form_group">
    <label for="telpon">telpon</label>
    <input type="phone" id="telpon" name="telpon" required />
  </div>

  <div class="form_group">
    <label for="batch">batch</label>
    <input type="number" id="batch" name="batch" required />
  </div>

  <button type="submit">absen</button>
</form>
